<h1>Welcome to Forms</h1>
<form action="/users" method="POST">
  <p>User name: <input type="text" name="user[username]"></p>
  <p>Email: <input type="email" name="user[email]"></p>
  <p>Password: <input type="password" name="user[password]" minlength="8"></p>
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="submit" value="Submit">
</form>
